---
# leave empty
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// custom CSS here
$global-font-family: 'TT', Courier, monospace;
$header-font-family: 'TT', Courier, monospace;
$caption-font-family: 'Courier New', Courier, monospace;



@font-face {
    font-family: "TT";
    src: url("/assets/css/assets/fonts/TT2020StyleE-Regular.woff2");
  }

p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-style: normal;

   
 }

h1, h2, h3 { 
  font-family: 'TT', Courier, monospace;
  font-weight: normal;
  font-style: bold;

}

ul, ol {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-style: normal;

}

table, th, td {
  border: 1px solid;
  font-family: monospace;
  font-weight: normal;
  font-style: normal;

}


