---

---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// custom CSS here
$global-font-family: "Consolas", Courier, monospace;

.image-container {
  max-width: 75%;
  height: auto;
  text-align: center;
}
.image-container img {
  max-width: 75%;
  height: auto;
  justify-content: center;
  align-self: center;
}

@font-face {
    font-family: "TT";
    src: url("/assets/css/assets/fonts/TT2020StyleE-Regular.woff2");
  }

  p {
    font-family: "Consolas", "Courier New", Courier, monospace;

  }